body {
	background-color: #1f1c1c	;
	margin-left: 0%;
	margin-right: 20%;
}

h1 {
	color: #a53535;
	font-family: monospace;
	font-size: 30px;
}
h2 {
	text-align: center;
	color: #a53535;
	font-family: monospace;
	font-size: 27px;
    /* border: .2em solid #43408a; */
    border-radius: .5em;
	
	
	text-align: center;
	background-color: #473333;
	padding: 0px 1% 0px 1%;
	width: fit-content;
}
h3 {
	text-align: center;
	color: #a53535;
	font-family: monospace;
	font-size: 23px;
    /* border: .1em solid #43408a;
    border-radius: .5em; */
	padding: 0px 2% 0px 1%;
	
	
	width: fit-content;
}

h4 {
	text-align: center;
	font-family: monospace;
	font-size: 18px;
	padding: 0px 2% 0px 1%;
	
	color: #afafaf;
	
	width: fit-content;
}
p {
	padding: 0px 3% 0px 3%;
	max-height: min-content;
	display: inline-block;
	color: #afafaf;
	font-family: monospace;
	font-size: 18px;
}

#header-list p {
	all: initial;
	padding: 0px 3% 0px 3%;
	max-height: min-content;
	display: inline-block;
	color: #afafaf;
	font-family: monospace;
	font-size: 18px;
}

a {

	color: rgb(129, 1, 1);
	font-family: monospace;
	font-size: 18px;
	max-width: 60%;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
  	white-space: nowrap;
}

b {

	color: #e3e1e1;
	font-family: monospace;
	font-size: 18px;
	font-style: bold;
}

strong {
	color: #e3e1e1;
	font-family: monospace;
	font-size: 18px;
	font-style: bold;
}

c {

	color: #d05b5b;
	font-family: monospace;
	font-size: 18px;
}


#header-list {
	margin: auto auto;
	background-color:#3e1212;
	padding: 13px 13px;
	width: 55%;
	border-radius: 3px;
}
#button-link {
	color: rgba(255,255,255,1);
	border-radius: 5px;
	padding: 0px 25px;
}
#link {
	color: #5d57ff;
	border-radius: 5px;
	padding: 0px 2% 0px 1%;
}
#inline-link {
	color: #5d57ff;
	border-radius: 5px;

}
.link-hover:hover {
      background-color:#4b4b53;

}
.button-link-hover:hover {
      background-color:rgba(0,0,200,1);

}
#content {
	text-align: left;
}

ul {
	list-style: none; /* Remove default bullets */
}

ul li::before {
	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: rgb(129, 1, 1); /* Change the color */
	font-weight: bold; /* If you want it to be bold */
}
li {
	color: #afafaf;
	font-family: monospace;
	font-size: 18px;
}
li a {
	vertical-align: middle;
}

/* For all <code> */
code {
	font-family: monospace;
	
}
  
/* Code in text */
p > code,
li > code,
dd > code,
td > code {
	background: #ffeff0;
	word-wrap: break-word;
	box-decoration-break: clone;
	padding: .1rem .3rem .2rem;
	font-size: 15px;
}

pre code {
	scrollbar-color: #666 #201c29;
	background: none;
	white-space: pre;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	display: block;
	font-size: 16px;
	padding: 0.5em 1em 0.5em 1em;
	line-height: 1.75;
}

  
complete {
	font-family: monospace;
    /* border: .2em solid #43408a; */
    border-radius: .5em;
	
	
	color: #473333;
	background-color: rgb(138, 185, 138);
	padding: 0px 1% 0px 1%;
	width: fit-content;
}
ongoing {
	font-family: monospace;
    /* border: .2em solid #43408a; */
    border-radius: .5em;
	
	
	color: #c98181;
	background-color: rgb(85, 19, 2);
	padding: 0px 1% 0px 1%;
	width: fit-content;
}

img {
	display: block;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}