body {
  background-color: rgba(0,0,0,1);
}

h1 {
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 38px;
}
h2
{
  color: rgba(100, 100, 255, 1);
  font-family: monospace;
  font-size: 35px;
  
      background-color:rgba(150,0,0,1);
}
p
{
	margin-left: 200px;
	margin-right: 200px;
	color: green;
	font-family: monospace;
	font-size: 23px;
}

a
{
	margin-left: 100;
	color: red;
	font-family: monospace;
	font-size: 23px;
}
#center-container {
    text-align: center;
}

#margin {
    margin-left: 200px;
    margin-right: 200px;
}
#link {
  color: rgba(255,255,255,1);

}
.link-hover:hover {
      background-color:rgba(255,0,0,1);

}