body {
  background-color: rgba(155,155,155,1);
}

h1 {
  color: black;
  text-align: center;
  font-family: arial;
  font-size: 38px;
}
h2
{
  color: rgba(133, 176, 250, 1);
  font-family: arial;
  font-size: 35px;
  
      background-color:rgba(250,141,123,1);
}
h3
{
  color: rgba(0, 0, 0, 1);
  font-family: arial;
  font-size: 28px;
}
p
{
	color: darkblue;
  font-family: arial;
	font-size: 24px;
}
a
{
	color: darkred;
  font-family: arial;
	font-size: 28px;
}
#center-container {
    text-align: center;
}
#link {
  color: rgba(255,255,255,1);
  font-family: verdana;
  font-size: 23px;

}
.link-hover:hover {
      background-color:rgba(255,0,0,1);

}